.EnsemblAddGuests .MuiInputBase-root  {
  background-color: white;
  padding: 5px !important;
}

/* This element does not appear in DOM tree of EnsemblAddGuests. Need to use styling library later to fix this */
.MuiCardHeader-avatar {
  margin-right: 10px !important;
}
