.EnsemblGuestAvatar .MuiBadge-badge {
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

/* Colors from https://mui.com/components/alert/ */
.EnsemblGuestAvatar__accepted .MuiBadge-badge {
  background-color: rgb(76, 175, 80);
}

.EnsemblGuestAvatar__declined .MuiBadge-badge {
  background-color: rgb(239, 83, 80);
}

.EnsemblGuestAvatar__tentative .MuiBadge-badge {
  background-color: grey;
}
