.EnsemblGuestHeader {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.EnsemblGuestHeader:hover {
  background: #eaecec;
}

.EnsemblGuestHeader .EnsemblGuestHeader__RemoveGuestBtn{
  visibility: hidden;
}

.EnsemblGuestHeader .EnsemblGuestHeader__EmailBtn{
  visibility: hidden;
}

.EnsemblGuestHeader:hover .EnsemblGuestHeader__RemoveGuestBtn {
  visibility: visible;
}

.EnsemblGuestHeader:hover .EnsemblGuestHeader__EmailBtn {
  visibility: visible;
}