.EnsemblReasonView button {
  visibility: hidden;
}

.EnsemblReasonView:hover button {
  visibility: visible;
}

.EnsemblReasonView:hover {
  visibility: visible;
  background: rgba(32,33,36,0.039);
}
