.EnsemblReasonEdit__autoSave .MuiInput-root::before {
  border-bottom: none;
}

.EnsemblReasonEdit__autoSave .MuiAutocomplete-popupIndicator {
  visibility: hidden;
}

.EnsemblReasonEdit__autoSave:hover .MuiAutocomplete-popupIndicator {
  visibility: visible;
}
