.EnsemblTaskAutoSave .MuiInput-root::before {
  border-bottom: none;
}

.EnsemblTaskAutoSave .MuiButtonBase-root {
  visibility: hidden;
}

.EnsemblTaskAutoSave:hover .MuiButtonBase-root {
  visibility: visible;
}
