/* https://stackoverflow.com/questions/7896402/how-can-i-replace-text-with-css */
.EnsemblTaskStateChange .MuiInputBase-input div {
  visibility: hidden;
  position: absolute;
}

.EnsemblTaskStateChange .MuiInputBase-input::after {
  content: 'Change task state';
  font-size: 0.9rem;
}
