.EnsemblTaskView .EnsemblTaskViewEditButton {
  visibility: hidden;
}

.EnsemblTaskView:hover .EnsemblTaskViewEditButton {
  visibility: visible;
}

.EnsemblTaskView:hover {
  visibility: visible;
  background: rgba(32,33,36,0.039);
}
