.EnsemblContainer {
  overflow-y: auto;
  background-color: #F9EFE4;
  border-left: 1px solid hsla(30.666666666666664, 31.47%, 71.96%, 1.00);
  height: 100vh;
  width: 375px;
}

.EnsemblVisible {
  width: 375px;
  transition: width 250ms;
}

@media (max-width: 1350px) {
  .EnsemblContainer, .EnsemblVisible {
    width: 300px;
  }
}

@media (max-width: 1300px) {
  .EnsemblContainer, .EnsemblVisible {
    width: 250px;
  }
}

#EnsemblDynamicContainer {
  z-index: 1000;
  background-color: #F9EFE4;
  position: fixed;
  right: 0;
  top: 0;
}

.EnsemblHidden {
  width: 0;
  transition: width 250ms;
}

#EnsemblCreateWithButton {
  vertical-align: bottom;
  margin-right: 8px;
}

#EnsemblOpenButton {
  margin-left: 68px;
  margin-bottom: 0;
}

.EnsemblButton {
  padding: 9px;
  background-color: #F9EFE4;
  border: 1px solid hsla(30.666666666666664, 31.47%, 71.96%, 1.00);
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8125rem;
  cursor: pointer;
}

#EnsemblOpenIcon {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F9EFE4;
  border: 1px solid hsla(30.666666666666664, 31.47%, 71.96%, 1.00);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#EnsemblOpenIcon img {
  width: 30px;
  height: 30px;
}

.MuiButton-root {
  text-transform: unset !important;
  letter-spacing: unset !important;
}

.MuiButton-text {
  padding: 0 !important;
  min-width: 0 !important;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.EnsemblDontBreakOut {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
